.list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #15202B;
    color: white;
    min-height: 695px;
}

.tweet-content {
    grid-column: 2 / 3;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.search-input {
    grid-column: 3 / -1;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
}

.search-input > input {
    border-radius: 20px;
    width: 300px;
    border: 1px solid darkgray;
    background-color: #15202B;
    color: whitesmoke;
    padding: 10px;
}

.relevant-content {
    grid-column: 3 / -1;
    text-align: left;
    margin-top: 60px;
    margin-left: -300px;
    padding: 10px;
    height: 370px;
    width: 300px;
    border: 1px solid darkgray;
    border-radius: 20px;
}

.relevant-content > img {
    width: 280px;  
}

.relevant-content > h4 {
    border-radius: 20px;
    padding: 7px;
    width: 300px;
    margin-top: -10px;
    margin-right: -10px;
}

.relevant-content > p {
    margin-left: -3px;
    margin-top: 5px;
}

.relevant-content > a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.relevant-content > a:hover {
    text-decoration: underline;
}